# Dataset
data/BraTS2020_TrainingData/
data/BraTS2020_ValidationData/

# Generated splits
# Keep these if you want the case IDs tracked
# data/splits/

# Python
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db